<ul>
  <% categories.each do |category, children| %>
    <li>
      <%= link_to_unless_current category.name, category %>
      <%= render 'submenu_categories', categories: children if category.present? %>
    </li>
  <% end %>
</ul>
